<div id="about-me-container" class="container">
  <div class="row">
    <div class="col-sm-2">
      <img class="profile-image" src="/img/chris.jpg">
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12">
          <h3>Chris Tallent</h3>
          <h5>CTO / Co-Founder at Glamhive</h5>
          <p>
            <a href="http://www.glamhive.com">www.glamhive.com</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          chris@glamhive.com <br/>
          tel: 859.394.2923 <br/>
          <img class="icon-small" src="/img/twitter.png"> @thetallent </br>
          <img class="icon-small" src="/img/skype.png"> cltallent </br>
        </div>
        <div class="col-sm-7">
          <ul class="about-details">
            <li>18 years software development experience: Java, .NET, Javascript</li>
            <li>2 years enjoyment of AngularJS</li>
            <li>Unrepentant computer geek</li>
            <li>Married and father of three</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>