<div class="container">
  <h4 class="heading">Demo Features</h4>
  <ul>
    <li>Home state redirecting to Logged in / Logged out pages using "/" root URL</li>
    <li>Parent Layouts - (See <a ui-sref="home-no-layout">this page</a> without the parent layout)</li>
    <li>URL passing parameters (e.g. - Google Analytics utm params) <a href="?utm_content=ui-router-demo&utm_channel=demo&utm_medium=gaslight" target="_blank">through a state</a></li>
    <li>States that <a ui-sref="authenticated-page">require authentication</a> with redirection to the prior state after login</li>
    <li>Page Contexts setting <a ui-sref="titled">Title and Metadata</a></li>
    <li>
      <a ui-sref="modals">Modal examples</a>
      <ul>
        <li>Open modal automatically on state change</li>
        <li>Close prior modal as an option</li>
        <li>Pass-through UI-Modal settings</li>
        <li>Direct access a Modal with URL and return to home when the modal is closed</li>
      </ul>
    </li>
    <li><a ui-sref="404">404 Page</a></li>
  </ul>
  <h4 class="heading">Some Things I Haven't Covered</h4>
  <ul>
    <li>Angular's Router vs UI Router (You love UI-Router)</li>
    <li>Packaging the extensions in an easily reusable library</li>
    <li>Defining Routes in multiple modules</li>
    <li>Using Resolve functions to retrieve data prior to changing state</li>
  </ul>
  <h4 class="heading">Resources</h4>
  <ul>
    <li>Github Repo:  https://github.com/tallented/cincyng-ui-router</li>
    <li>UI Router:  https://github.com/angular-ui/ui-router</li>
    <li>UI Bootstrap Modal:  http://angular-ui.github.io/bootstrap/#/modal</li>
  </ul>
</div>