<div id="navigation-layout" class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        UI Router Demo

        <div id="navigation-wrapper">
          <a ui-sref="home-logged-in" ng-class="{ active: $state.is('home-logged-in') }">Home Page</a>
          <a ui-sref="modals" ng-class="{ active: $state.is('modals') }">Modals</a>
          <a ui-sref="authenticated-page" ng-class="{ active: $state.is('authenticated-page') }">Authenticated Page</a>
        </div>

        <div class="pull-right">
          Welcome, {{principal.getUsername()}}
          <button type="button" class="btn btn-danger btn-xs" ng-click="logout()"><span class="glyphicon glyphicon-off"></span></button>
        </div>

      </h2>
    </div>

    <div class="view-content">
      <div class="alert alert-success" ng-if="showAlert">
        Thank you for logging in to the UI-Router Demo
        <div class="pull-right">
          <a role="button" ng-click="closeAlert()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </div>

      <!-- Nested page content will be injected here -->
      <div ui-view></div>
    </div>
  </div>
</div>